@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrappedContent {
    width: 100%; background-color: ghostwhite; margin: 10px auto; padding: 20px; display: flex; flex-direction: column;
    align-items: center;     border: 1px solid #f3f3f3; border-radius: 10px;

}
.wrappedContent img {
    max-width: 750px;
}

.articleHeader {
    font-size: xxx-large; font-weight: bold; margin-bottom: 20px;
}

.hold-article {
    display: flex; flex-direction: column;     width: 80%;

}
.article {
    width: 100%;
    margin-bottom: 50px;
}

.articleAuthor {
    margin-right: auto;
}
 .articleDate {
    margin-right: auto;
    margin-top: 10px;
    font-size: small;}
.edit-article, .submit-edit-article
{
    font-size: small;
    cursor: pointer;
    height: 20px;
    color: #2980b9;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    user-select: none;
    min-width: 70px;
    transition: 0.2s;
    padding: 5px;
}


.submit-edit-article i {
    padding-right: 5px;
}
.edit-article i {
    padding-right: 5px;
}

#summernote {
    height: 0;
    margin-bottom: 20px;
}

.hold-edit {
    display: flex;
    margin-left: auto;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}
.edit-article {
    margin-left: 10px
}

.submit-edit-article:hover {
    color: #000000;
    text-decoration: underline;
}
#editArticleHeader {
    min-width: 500px;
    padding: 8px 10px;
    border-radius: 5px;
    border-style: none;
    background-color: #dddddd;
}
#editArticleHeader:focus {
    outline: none;
}
#holdEditHeader {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}
#holdEditHeader p {
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
}
