.galerii {
    display: flex;
    margin: 0 auto;
    /* max-width: 1200px; */
    padding: 0 20px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 1000px;
}

input[type="file"] {
    display: none;
}

#notification {
    display: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.custom-button {
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 10px;
}
.custom-button:hover {
    color: #2980b9;
    border-radius: 50%;
}
#fileList {
    display: none;
}
#fileList li {
    cursor: pointer;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 5px;
    list-style-type: disclosure-closed;
}
#fileList li:hover {
    color: red;
    text-decoration: line-through;
    background-color: #d0d0d0;
}

#fileCount {
    cursor: default;

}

.upload {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    word-break: break-word;
    align-items: center;
    background-color: #dddddd;
    padding-top: 20px;
    border-radius: 10px;
}

.upload p {
    margin-top: 20px;
    color: #2980b9;
    user-select: none;
    padding: 2px;
    transition: 0.2s;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.upload p:hover {
    color: #000000;
    text-decoration: underline;
}

#folderDropdown option[disabled] {
    color: #888; /* Change the color to a muted gray or any other style you prefer */
    font-style: italic; /* You can also use font-weight: normal; to make it less prominent */
}


/* ul */
.upload ul {
    margin: 0;
    padding-left: 20px;
    margin: 0 5px;
    margin-bottom: 5px;
}
.upload .upload-buttons button {
    padding: 5px;
    background-color: #2980b9;
    color: #dddddd;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    border-style: none;
}
.upload .upload-buttons button:hover{
    border-radius: 50%;
}

.upload .upload-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.new-directory form {
    margin-bottom: 20px;
    width: 250px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
}
.new-directory input {
    min-width: 100px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border-style: none;
    background-color: #dddddd;
}
.new-directory input:focus {
    outline: none;
}
.new-directory button {
    padding: 10px;
    background-color: #dddddd;
    border-radius: 0 5px 5px 0;
    border-style: none;
    cursor: pointer;
    transition: 0.2s;
}

.new-directory button:hover {
    background-color: #2980b9;
    color: #ffffff;
}
.new-directory .error {
    width: 250px;
}

#folderDropdown {
    padding: 5px;
    margin-right: 10px;
    border-style: none;
    border-radius: 10px;
    width: 130px;
}

/* show images*/

.gallery-content {
    display: grid;
    margin-bottom: 50px;

}

.gallery-content div {
    padding: 10px;
    border-radius: 10px;
    background-color: #dfdfdf;
}

.file-tree #folderTree {
    display: flex;
    flex-direction: row;
    max-width: 1600px;
    min-width: 500px;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
#folderTree li {
    margin: 0 10px;
    padding: 5px 10px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 10px;

}
#folderTree li:hover {
    color: #ffffff;
    background-color: #2980b9;
}

.file-tree #fileTree {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.file-tree #fileTree li img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    transition: 0.2s;
    cursor: pointer;
}
