@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.error {
    margin-bottom: 20px;
    color: red;
    display: flex;
    width: 80%;
    justify-content: center;
    align-content: center;
    text-align: center;
}


/* ------HEADER------ */

header {
    background-color: #ffffff;
    color: #000;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    user-select: none;
}
header .header-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}
header .header-links a {
    text-decoration: none;
    margin: 0 1em;
}
header .header-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
header .header-search input {
    background-color: #f8f8f8;
    border: none;
    width: 35em;
    height: 2.8em;
    border-radius: 7px;
    padding-left: 10px;
    border: 1px solid #cccccc;
}
header .header-search input:focus {
    outline: none;
    border: 1px solid #2980b9;
}
header .header-search button {
    border: none;
    cursor: pointer;
    background: transparent;
    position: relative;
    left: -35px;
}
header .header-search .sisene {
    background-color: #2980b9;
    color: #fff;
    border: none;
    text-decoration: none;
    width: 8em;
    height: 2.3em;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header-search .sisene:hover {
    background-color: #2c3e50;
}


/* ------NAV BAR------ */

nav {
    background-color: #000000;
    padding: 0.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav .nav-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 10px;
}
nav .nav-logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    margin-left: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
}

nav a:hover {
    color: #2980b9;
}

/* ------MAIN------ */

/* ------HIGHLIGHTS------ */
section {
    padding: 2em;
}

.highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
}
.highlights div {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    background-color: #fff;
    width: 30em;
    height: 20em;
    background-size: cover;
    background-position: center;
    position: relative;
}
.highlights #left_highlight {
    background-image: url(../img/1.jpg);
    transform: translateX(200px);
    background-color: antiquewhite;
    font-size: 95%;
}
.highlights #right_highlight {
    background-image: url(../img/2.jpg);
    transform: translateX(-200px);
    background-color: aquamarine;
    font-size: 95%;
}
.highlights #main_highlight {
    background-image: url(../img/3.jpg);
    z-index: 2;
}
.highlights a .left {
    position: relative;
    transform: translateX(150px);
}
.highlights a .right {
    position: relative;
    transform: translateX(-150px);
}

/* ------ PATH ------ */


.path * {
    text-decoration: none;
    color: #2980b9;
    font-size: 95%;
}

.section-nav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
    align-content: flex-start;
    align-items: flex-start;
}
.section-nav h1 {
    margin-top: 20px;
    font-size: 190%;
}

/* ------HOT TOPICS------ */

.hot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    background-color: #dddddd;
}

.hot div {
    background-color: #fff;
    border-radius: 10px;
    width: 15em;
    height: 15em;
    margin: 1em;
}
.hot div h4 {
    margin: 0;
    font-size: 95%;
    padding-left: 0.5em;
    transform: translateY(10px);
    color: #2980b9;
}
.hot div h1 {
    padding-left: 0.5em;
}
.hot div p {
    padding-left: 0.5em;
}
.hot div a {
    color: #2980b9;
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
}

/* ------filter------ */

.order-btn, #yearDropdown, #sortingDropdown{
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    border-style: none;
    border: 1px solid #cccccc;


    font-family: "Montserrat", sans-serif;
}
#yearDropdown option, #sortingDropdown option {
    padding: 10px;
    background-color: ghostwhite;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
    border-style: none;
}
#yearDropdown:focus, #sortingDropdown:focus {
    outline: none;
    border: 1px solid #2980b9;
}

.order-btn:hover, #yearDropdown:hover, #sortingDropdown:hover {
    background-color: #2980b9;
    color: #ffffff;
    option {
        color: #000000;
        background-color: ghostwhite;
    }
}

.hold-filter {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 10px;
    margin-top: 10px;
}


/* ------FOOTER------ */



@media all{
    *,:after,:before{box-sizing:border-box;}
    footer{display:block;}
    h3{margin-bottom:1.5rem;margin-top:0;}
    p{margin-bottom:1rem;margin-top:0;}
    a{background-color:transparent;color:#000;}
    a,a:hover{text-decoration:none;}
    a:hover{color:#8e99ab;}
    img{border-style:none;}
    img{vertical-align:middle;}
    h3{font-weight:600;line-height:1.618;margin-bottom:1.5rem;}
    h3{font-size:1.875rem;}
    .container{margin-left:auto;margin-right:auto;padding-left:12px;padding-right:12px;width:100%;}
    @media (min-width:576px){
        .container{max-width:540px;}
    }
    @media (min-width:768px){
        .container{max-width:720px;}
    }
    @media (min-width:992px){
        .container{max-width:960px;}
    }
    @media (min-width:1300px){
        .container{max-width:1200px;}
    }
    .footer_content:after{clear:both;content:"";display:block;}
    @media print{
        *,:after,:before{box-shadow:none!important;text-shadow:none!important;}
        a:not(.btn){text-decoration:underline;}
        img{page-break-inside:avoid;}
        h3,p{orphans:3;widows:3;}
        h3{page-break-after:avoid;}
        .container{min-width:992px!important;}
    }
    a{transition:all .2s ease-in-out;}
    h3{letter-spacing:-.2px;}
    @media (max-width:767.98px){
        h3{font-size:1.25rem;}
    }
    .footer{background-color:#000;color:#fff;font-size:1rem;}
    .footer_content{padding:2.1875em 0;}
    .footer_logoCol{float:left;padding-bottom:2.1875em;width:100%;}
    .footer_logo{display:block;margin:0 auto;width:9.375em;}
    .footer_logo img{height:auto;width:100%;}
    .footer_mainCol{float:left;width:100%;}
    .footer_grid{display:flex;flex-wrap:wrap;}
    .footer_col{width:100%;}
    .footer_col+.footer_col{margin-top:2.1875em;}
    .footer_title{color:currentColor;font-size:1.125rem;font-weight:700;letter-spacing:normal;line-height:normal;margin-bottom:1rem;}
    .footer_text{font-weight:600;line-height:1.625;}
    .footer_text a{color:currentColor;}
    .footer_text a:focus,.footer_text a:hover{color:#f5f7fa;}
    .footer_text p{margin-bottom:4px;}
    .footer_text p:last-child{margin-bottom:0;}
    .footer_bottom{background-color:#fff;color:#000;font-size:.75em;font-weight:600;padding:1.5rem 0;text-align:center;text-transform:uppercase;width:100%;}
    @media (min-width:992px){
        .footer_content{padding:4rem 0;}
        .footer_logoCol{padding-bottom:0;width:11.25rem;}
        .footer_mainCol{padding-left:2.5em;width:calc(100% - 222px);}
        .footer_logo{width:100%;}
        .footer_grid{margin:0 -10px;}
        .footer_col{padding:0 10px;width:25%;}
        .footer_col+.footer_col{margin-top:0;}
        .footer_col:nth-child(3n+3){width:50%;}
        .footer_text{font-size:1em;}
        .footer_bottom{font-size:.875em;}
    }
    @media (min-width:1300px){
        .footer_mainCol{padding-left:7.5em;width:calc(100% - 310px);}
    }
    @media (max-width:991.98px){
        .footer_title{font-size:1rem;}
    }
}


@media all{
    *,:after,:before{box-sizing:border-box;}
    .mapBanner_col{margin-bottom:1.5rem;margin-top:0;}
    a{background-color:transparent;color:#000;}
    a,a:hover{text-decoration:none;}
    a:hover{color:#8e99ab;}
    .mapBanner_col{font-weight:600;line-height:1.618;margin-bottom:1.5rem;}
    .mapBanner_col{font-size:1.875rem;}
    @media print{
        *,:after,:before{box-shadow:none!important;text-shadow:none!important;}
        a:not(.btn){text-decoration:underline;}
        .mapBanner_col{orphans:3;widows:3;}
        .mapBanner_col{page-break-after:avoid;}
    }
    a{transition:all .2s ease-in-out;}
    .mapBanner_col{letter-spacing:-.2px;}
    @media (max-width:767.98px){
        .mapBanner_col{font-size:1.25rem;}
    }
    .mapBanner_col{align-items:center;display:flex;height:6rem;justify-content:center;margin-bottom:0;}
    @media (min-width:768px){
        .mapBanner{display:flex;}
        .mapBanner_col{flex:0 0 50%;height:12rem;}
    }
}

