ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
ul li {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background: ghostwhite;
    border: 1px solid #f3f3f3;
    min-height: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    flex-direction: column;
}
ul li a {
    margin-left: auto;
    cursor: pointer;
    color: #2980b9;
    margin-top: auto;
}


section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1000px;
    margin: auto;
    height: 1000px;
    padding: 0 20px;
}
