.fc .fc-scroller-liquid-absolute::-webkit-scrollbar {
    width: 3px;
}
.fc .fc-scroller-liquid-absolute::-webkit-scrollbar-thumb {
    border-radius: 5px;
}
.fc .fc-scroller-liquid-absolute::-webkit-scrollbar-track {
    border-radius: 5px;
}


.treening {
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 1100px;
}
.training-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
}
.join-trennid {
    /*make its children 2 per row*/
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    width: 100%;
    padding: 0;
    margin-bottom: 50px;
}
.minu-trennid {
    /*make its children 2 per row*/
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    width: 100%;
    padding: 0;
    margin-bottom: 50px;
}
.trenn {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
    max-width: 100%;
    background-color: ghostwhite;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    padding: 0 20px;
    word-break: break-word;
}
.trenn p {
    margin: 0;
    padding: 0;
}
.trenni-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}
.trenni-asukoht {
    margin-right: auto;
    margin-top: auto;
    font-style: italic;
}

.join-trenn-button {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px ;

}
.join-trenn-button:hover {
    background-color: #1c6a8c;
}

#calendar {
    margin-bottom: 50px;
    max-width: 100%;
    background-color: ghostwhite;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    padding: 20px;
}

.fc .fc-toolbar-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.trenni-hover:hover {
    scale: 1.05;
    transition: 0.2s;
}

#toggle-button {
    padding: 10px;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    margin: 0;
    height: 40px;


}


#trenniForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: ghostwhite;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    max-width: 100%;
    margin-bottom: 50px;
    margin-right: auto;

}
#trenniForm textarea {
    height: 100px;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    resize: none;
    font-family: "Montserrat", sans-serif;
}
#trenniForm textarea:focus {
    outline: none;
    border: 1px solid #2980b9;
}
#trenniForm #eventTitle {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}
#trenniForm #eventTitle:focus {
    outline: none;
    border: 1px solid #2980b9;
}
#trenniForm #eventStartTime {
    padding: 5px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}
#trenniForm #eventStartTime:focus {
    outline: none;
    border: 1px solid #2980b9;
}
#trenniForm #eventEndTime {
    padding: 5px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}
#trenniForm #eventEndTime:focus {
    outline: none;
    border: 1px solid #2980b9;
}
#trenniForm #eventColor {
    padding: 5px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}
#trenniForm #eventColor:focus {
    outline: none;
    border: 1px solid #2980b9;
}

.nimi {
    font-weight: bold;
}
#trenniForm button {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
}
#trenniForm button:hover {
    background-color: #1c6a8c;
}

#trenniForm #põlluRoomSelection {
    padding: 5px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}
#trenniForm #põlluRoomSelection:focus {
    outline: none;
    border: 1px solid #2980b9;
}
#trenniForm #kopliRoomSelection {
    padding: 5px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}
#trenniForm #kopliRoomSelection:focus {
    outline: none;
    border: 1px solid #2980b9;
}
.hold-teacher-calendar {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    width: 100%;
    padding: 0;

}

.hidden {
    display: none !important;
}


#userForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: ghostwhite;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
#userForm input {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}
#userForm input:focus {
    outline: none;
    border: 1px solid #2980b9;
}
#userForm .submit-registration {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
    margin-left: auto;
}
#userForm .submit-registration:hover {
    background-color: #1c6a8c;
}
#userForm h2 {
    margin-bottom: 0;
    padding: 0;
}

.hold-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 15px;
}
.hold-radio div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 0;
    margin: 0;
}

/* Styling for the darkened background */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}

/* Prevent scrolling when popup is open */
body.popup-open {
    overflow: hidden;
}
.close-button {
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
    margin: 0;
    margin-left: auto;
    /* height: 40px; */
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
}
.close-button:hover {
    color: #dddddd;
}

.valesti {
    padding: 20px;
    margin: 0 auto;

}
.subTitle {
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.osaleb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}
.trenni {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
    width: 100%;
    background-color: ghostwhite;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    padding: 0 20px;
    word-break: break-word;
    padding-bottom: 10px;
}
.current-trenn {
width: 100%;

}
.trenn-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
}
.kasutaja-id {
    font-size: 90%;

}

.trenni-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}

.trenni-footer button {
    border: none;
    color: #2980b9;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
}
.delete-registration-button {
    display: none;
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;

}
.hold-trenni-edits {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;

}
.hold-trenni-delete, .hold-trenni-edit {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}
.hold-trenni-delete p, .hold-trenni-edit p {
    margin: 0;
    padding: 0;
}

.hold-trenni-edit button {
    background-color: transparent;
    border: none;
    color: #2980b9;
    cursor: pointer;
}
.hold-trenni-delete button {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
}


